<form novalidate autocomplete='off' spellcheck='false' [formGroup]='form'>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder='Name'
        formControlName='name' required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Html Body</mat-label>
        <textarea matInput placeholder='Html Body'
        formControlName='htmlBody'></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Completed</mat-label>
        <input matInput [matDatepicker]="picker" formControlName='completed'>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>
